@using AutoTrade.Services.Data.Interfaces;
@model WalletOverviewViewModel
@inject IWalletService WalletService;
@inject ICreditCardService CreditCardService;
@{
	ViewBag.Title = "Wallet Overview";

	bool hasCreditCard = await WalletService.HasCreditCardByIdAsync(Model.WalletId.ToString());
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<p>User: @Model.UserName</p>
<p>Balance: @Model.Balance.ToString("N3")€</p>

<h3>Transaction History</h3>
<table>
	<tr>
		<th>Date</th>
		<th>Amount</th>
		<th>From</th>
		<th>To</th>
	</tr>
	@foreach (var transaction in Model.TransactionHistory)
	{
		<tr>
			<td>@transaction.Date.ToShortDateString()</td>
			@if (transaction.BuyerId.ToLower() == Model.UserId)
			{
				<td>-@transaction.Amount.ToString("N3")€</td>
			}
			else
			{
				<td>+@transaction.Amount.ToString("N3")€</td>
			}
			<td>@transaction.BuyerFullName</td>
			<td>@transaction.SellerFullName</td>
		</tr>
	}
</table>

@if (hasCreditCard)
{
	CreditCardViewModel creditCardViewModel = await CreditCardService.GetCreditCardByIdAsync(Model.CreditCardId!);

	<div class="">
		<partial name="_CreditCardPartial" model="@creditCardViewModel" />
	</div>
}
else
{
	<div>
		<a asp-controller="CreditCard" asp-action="Add"
		   class="btn btn-primary">Add card</a>
	</div>
}
