@model IEnumerable<IndexViewModel>

@{
	ViewData["Title"] = "All Cars";
}

<!DOCTYPE html>
<html>
<head>
	<title>All Cars</title>
	<style>
		/* Custom CSS styles */
		.car-list {
			display: flex;
			flex-wrap: wrap;
		}

		.car-section {
			width: 400px;
			margin: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 10px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}

		.car-card {
			text-align: center;
		}

			.car-card h2 {
				font-size: 20px;
				margin-bottom: 15px;
			}

			.car-card p {
				margin-bottom: 15px;
			}

			.car-card img {
				max-width: 100%;
				height: auto;
				border-radius: 5px;
				margin-bottom: 10px;
			}

			.car-card button {
				background-color: #3498db;
				color: #fff;
				border: none;
				padding: 8px 12px;
				font-size: 14px;
				border-radius: 5px;
				cursor: pointer;
				transition: background-color 0.3s;
			}

				.car-card button:hover {
					background-color: #2980b9;
				}
	</style>
</head>
<body>
	<h1>All Cars</h1>

	<div class="car-list">
		@foreach (var car in Model)
		{
			<section class="car-section">
				<div class="car-card">
					<h2>@car.Make @car.Model</h2>
					<img src="@car.ImageUrl" alt="@car.Make @car.Model">
					<p>Price: @car.Price.ToString("N")$</p>
					<button type="submit" name="selectedCarId" value="@car.Id" formaction="/Cars/BuyCar">Buy</button>
				</div>
			</section>
		}
	</div>
</body>
</html>