@using AutoTrade.Services.Data.Interfaces;
@using AutoTrade.Web.Infrastructure.Extensions;
@model CarDetailsViewModel
@inject ICarService CarService

@{
	ViewBag.Title = "Car Details";

	bool isUserOwnerOfCar = await CarService.IsUserWithIdOwnerOfCarWithIdAsync(Model.Id, this.User.GetId()!);
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
	<div class="row">
		<div class="col-4">
			<img class="card-img-top" style="width: 20rem;"
				 src="@Model.ImageUrl" alt="Car Image">
		</div>
		<div class="card col-8 border-0">
			<p style="font-size:25px;"><u>@Model.Make @Model.Model</u></p>
			<p>
				Price:
				<b>@($"{Model.Price:f2}") BGN</b>
			</p>
			<p>Horsepower: <b>@Model.Horsepower</b></p>
			<p>Year: <b>@Model.Year</b></p>
			<p>Mileage: <b>@Model.Mileage km</b></p>
			<p>@Model.Description</p>
			<p>Category: <b>@Model.Category</b></p>
			<p>Transmission: <b>@Model.Transmission</b></p>
			<p>Engine type: <b>@Model.EngineType</b></p>
			<div class="form-inline">
				@if (isUserOwnerOfCar)
				{
					<a class="btn btn-warning" asp-controller="Car" asp-action="Edit"
					   asp-route-id="@Model.Id">Edit</a>
					@if (!Model.IsForSale)
					{
						<form class="input-group-sm" asp-area="" asp-controller="Car"
							  asp-action="ForSale" asp-route-id="@Model.Id" method="post">
							<input class="btn btn-primary" type="submit" value="For Sale" />
						</form>
					}
					else
					{
						<form class="input-group-sm" asp-area="" asp-controller="Car"
							  asp-action="ReturnToGarage" asp-route-id="@Model.Id" method="post">
							<input class="btn btn-primary" type="submit" value="Return to garage" />
						</form>
					}
					<a class="ml-2 btn btn-danger" asp-controller="Car" asp-action="Delete"
					asp-route-id="@Model.Id">Delete</a>
				}
				else
				{
					<form class="input-group-sm" asp-area="" asp-controller="Car"
						  asp-action="Buy" asp-route-id="@Model.Id" method="post">
						<input class="btn btn-primary" type="submit" value="Buy" />
					</form>
				}
			</div>
			<p></p>

			@if (Model.IsForSale)
			{
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Seller Info</h5>
						<p class="card-text">Full name:  @Model.Seller.FullName</p>
						<p class="card-text">Email:  @Model.Seller.Email</p>
						<p class="card-text">Phone Number: @Model.Seller.PhoneNumber</p>
					</div>
				</div>
			}
		</div>
	</div>
</div>